body
{
align-content: center; 
background-image: url("https://media.discordapp.net/attachments/695398494193582140/702949002160635954/bg.png");
}
h1
{
color: orange;
}
img
{
-webkit-box-shadow: 10px 15px 31px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 15px 31px -2px rgba(0,0,0,0.75);
box-shadow: 10px 15px 31px -2px rgba(0,0,0,0.75);
}
